<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mr-auto" href="#">Sistema de encuestas con Blockchain.</a>
  <button type="button" class="btn btn-secondary" (click)="mostrarForm = !mostrarForm">Crear encuesta</button>
</nav>

<section class="jumbotron bg-light text-center">
  <h1>Encuestas</h1>
  <p class="lead text-muted">Desarrollado con tecnología Blockchain</p>
</section>
<app-crear-encuesta *ngIf="mostrarForm"></app-crear-encuesta>
<div class="d-flex">
  <div class="container lista-encuestas">
    Lista
  </div>
  <div class="container detalles-encuesta">
    Detalles de la encuesta
  </div>
</div>
